[Desktop Entry]
Version=1.0
Name=BehaviorBox
Comment=Execute BehaviorBox
Exec=/home/pi/BlackBoxFiles/Worms/blackbox.py
Icon=/home/pi/BlackBoxFiles/Worms/Logo.png
Terminal=false
Type=Application
Categories=Development

Name[en_US]=BehaviorBox (new)
